<div class="articleBg" data-ng-controller="SuggestionBasicDetailController">
    <article class="weui_article">
        <h1>{{basicSgtDetail.topicTitle}}</h1>
        <p class="fs12 text-muted" style="margin:0;">
            <span ng-if="!basicSgtDetail.anonymous" class="mr10 color-primary">{{basicSgtDetail.createUserOrg}}</span>
            <span ng-if="!basicSgtDetail.anonymous" class="mr10 color-primary">{{basicSgtDetail.createUserName}}</span>
            <span>{{basicSgtDetail.createDate | date:'yyyy-MM-dd'}}</span>
            <span ng-if="basicSgtDetail.anonymous" class="no-name pull-right">匿名</span>
        </p>
    </article>
    <article class="weui_article" style="padding-top:0;">
        <section>
            {{basicSgtDetail.topicContent}}
        </section>
    </article>
    <!-- 评论模板 -->
    <div class="pinglun-box">
        <div class="pinglun-btn-box">
            <a ng-if="basicSgtDetail.reviewState == 1" id="huifu-btn" ng-click="replay_btn()" href="" class="weui_btn weui_btn_plain_primary weui_btn_mini pull-right">回复</a>
            <a ng-if="basicSgtDetail.reviewState == 3" class="weui_btn weui_btn_plain_primary weui_btn_mini pull-right weui_btn_disabled">回复</a>
            <!--禁用追加 weui_btn_disabled -->
            <div class="line"></div>
        </div>
        <div ng-if="basicSgtDetail.reviewState == 3" class="weui_panel weui_panel_access" style="margin-top: -1px;">
            <div class="weui_panel_bd">
                <a href="javascript:;" class="weui_media_box weui_media_appmsg box-line-3">
                    <div class="weui_media_hd" style="width:45px;height: 45px;">
                        <img class="weui_media_appmsg_thumb" src="images/icon-ld.png">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title color-primary fs16">{{basicSgtDetail.toOrgName}}</h4>
                        <p class="weui_media_desc">{{basicSgtDetail.reviewDate | date:'yyyy-MM-dd'}}</p>
                    </div>
                    <p class="weui_media_desc text-main fs14" style="overflow: auto;height: auto;">
                        {{basicSgtDetail.reviewContent}}
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="pinglun-write" style="display: none" id="replyShuru">
        <input type="text" ng-model="reply.replyContent" placeholder="请输入回复内容" class="pl-input">
        <button ng-click="replyBasicSgt()" class="weui_btn weui_btn_default weui_btn_mini pull-right">发送</button>
    </div>
</div>