<div data-ng-controller="SuggestionBasicListController">
    <div class="weui_panel weui_panel_access" data-ng-repeat="sgt in basicSgtList">
        <div class="weui_panel_bd" ng-click="queryItemById(sgt.topicId)">
            <div class="weui_media_box weui_media_text box-line-s">
                <h4 class="weui_media_title">{{sgt.topicTitle}}</h4>
                <span ng-if="sgt.reviewState == 3" class="tips-yes fs12" style="position: absolute;right:15px;top:15px;padding:0 8px;">已答复</span>
                <p class="weui_media_desc2 f14">
                    <span ng-if="!sgt.anonymous">{{sgt.createUserOrg}}&nbsp;&nbsp;&nbsp;</span>
                    <span ng-if="!sgt.anonymous">{{sgt.createUserName}}</span>
                    <span ng-if="sgt.anonymous" class="no-name">匿名</span>
                    <span class="pull-right">{{sgt.createDate | date:'yyyy-MM-dd'}}</span>
                </p>
            </div>
        </div>
    </div>
    <div id="null_sgtList" class="weui_msg" style="display: none">
        <div class="weui_icon_area"><img src="images/m/no-text.png" width="150"></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title"></h2>
            <p class="weui_msg_desc">暂时没有内容，去其他地方逛逛</p>
        </div>
    </div>
</div>