<div class="container-fluid" data-ng-controller="MCollectListController" fc-infinite-scroll="scrollHandler" target="window" >
    <ul ng-repeat="data in collectList" class="list-group list-group-m">
        <li class="list-group-item">
            <div class="text-muted pull-left">
                <span style="margin-right:15px;">{{data.createUserOrgName}}</span>
                <span>{{data.createDate|date:'yyyy-MM-dd'}}发布</span>
            </div>
            <div ng-if="data.directorState" class=" pull-right">
                <span class="bg-color1">负责人</span>
            </div>
            <div class="clearfix"></div>
        </li>
        <li class="list-group-item">
            <a href="" data-ng-click="goDetailPage(data)" class="text-color3">
                <h4>{{data.collectionName}}</h4>
            </a>
        </li>
        <li class="list-group-item">
            <div class="pull-left">
                <i class="fa fa-user"></i> {{data.participantsName.length||0}}
            </div>
            <div class="pull-right">
                <span ng-if="!data.directorState && data.enroleEndDays<=3" class="text-danger">还有{{data.enroleEndDays}}天报名截止</span>
                <span ng-if="!data.directorState && data.enroleEndDays>3" class="text-muted">还有{{data.enroleEndDays}}天报名截止</span>
                <span ng-if="data.directorState && data.collectionEndDays<=3" class="text-warning">还有{{data.collectionEndDays}}天任务截止</span>
                <span ng-if="data.directorState && data.collectionEndDays>3" class="text-muted">还有{{data.collectionEndDays}}天任务截止</span>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
    <li class="list-group-item row" ng-if="collectList.length==0">
        暂无内容。
    </li>
</div>