<div data-ng-controller="CollectDetailController">
    <div class="container-fluid">
        <ul class="list-group list-group-m">
            <li class="list-group-item">
                <div class="text-muted pull-left"><span style="margin-right:15px;">{{model.createUserName}}</span></div>
                <div class=" pull-right"><span class="bg-color1" ng-if="!model.directorState">负责人</span></div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <h4>{{model.collectionName}}</h4>
            </li>
            <li class="list-group-item">
                <div class="pull-left"><i class="fa fa-user"></i> {{model.participantsName.length}}</div>
                <div class="pull-right"><span class="text-muted"> {{model.createDate|date:'yyyy年MM月dd日'}}</span></div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <ul class="list-group list-group-m">
            <li class="list-group-item">
                <div class="text-muted">任务信息</div>
            </li>
            <li class="list-group-item">
                <h5>报名截止时间：{{model.enrolEndDate|date:'yyyy年MM月dd日'}}</h5>
                <h5>任务截止时间：{{model.collectionEndDate|date:'yyyy年MM月dd日'}}</h5>
            </li>
        </ul>
        <ul class="list-group list-group-m">
            <li class="list-group-item">
                <div class="text-muted">任务简介</div>
            </li>
            <li class="list-group-item">
                <div data-ng-bind-html="model.collectionContent"></div>
            </li>
            <li ng-repeat="attach in model.attachList" class="list-group-item"><a href="" ng-click="selectPath(attach)">{{attach.attachName}}</a>
            </li>
        </ul>
        <ul class="list-group list-group-m">
            <li class="list-group-item">
                <div class="text-muted">参与人员</div>
            </li>
            <li class="list-group-item">
                <p>负责人（{{model.directorsName.length}}）</p>
                <p><span ng-repeat="d in model.directorsName">{{d}} &nbsp;</span></p>
                <hr>
                <p ng-if="model.participantsName.length>0">报名者（{{model.participantsName.length}}）</p>
                <p><span ng-repeat="p in model.participantsName">{{p}} &nbsp;</span></p>
            </li>
        </ul>
        <ul class="list-group list-group-m">
            <li class="list-group-item">
                <div class="text-muted">已上传材料</div>
            </li>
            <li ng-repeat="cs in collectionSubmitteds" class="list-group-item"><a href="">{{cs.attachName}}</a></li>
        </ul>
    </div>
    <!-- container-fluid -->
    <nav ng-if="!model.directorState"
         class="navbar navbar-default navbar-m-bottom navbar-btn-bottom navbar-fixed-bottom" role="navigation">
        <ul class="nav">
            <!--<li>-->
                <!--<a href="" ng-click="collectAssist()">-->
                    <!--<i class="fa fa-thumbs-o-up current-color" ng-if="model.praiseState"></i>-->
                    <!--<i class="fa fa-thumbs-o-up" ng-if="!model.praiseState"></i> {{model.praiseCount}}-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="" ng-click="attentionCollect()">-->
                    <!--<i class="fa fa-heart-o current-color" ng-if="model.attentionState"></i>-->
                    <!--<i class="fa fa-heart-o" ng-if="!model.attentionState"></i> {{model.attentionCount}}-->
                <!--</a>-->
            <!--</li>-->
            <!--<li><a href=""><i class="fa fa-comment-o"></i>{{model.commentCount}}</a></li>-->
            <li>
                <a ng-if="(!model.participantsState)&&model.collectionState==0&&model.auditState==0&&model.enrolEndDay>0"
                   href="" ng-click="collectEnter()">立即报名</a>
                <!--<a ng-if="model.enrolEndDay<=0" href="" disabled="disabled">报名已截止</a>-->
                <!--提交材料-->
                <span class="btn btn-default fileinput-button" ng-class="{disabled: disabled}"
                      ng-if="model.participantsState&&model.auditState==0&&model.collectionState==0">
                  <i class="glyphicon glyphicon-upload"></i>
                    <span>提交材料</span>
        <input type="file" name="files[]" onchange="angular.element(this).scope().changefile(this);">
        </span>
            </li>
        </ul>
    </nav>
    <!--负责人-->
    <nav ng-if="model.directorState&&model.auditState==0"
         class="navbar navbar-default navbar-m-bottom navbar-btn-bottom navbar-btn-bottom-2 navbar-fixed-bottom"
         role="navigation">
        <ul class="nav">
            <li><a href="" ng-click="remindersCollection()">催办任务</a></li>
            <li><a href="" ng-click="submitAuditCollection()">提交任务</a></li>
        </ul>
    </nav>
    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">提示</h4>
          </div>
          <div class="modal-body">
            <h5>报名后将不能取消，确定报名这个任务？</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">确定报名</button>
          </div>
        </div>
      </div>
    </div>-->
    <fc-comment-for-wx ng-if="model.collectionId" context-id="model.collectionId" context-type="1"
                       context-create-user-id="model.createUserId" enable-adopt="0"
                       enable-readonly="0" praise-count="model.praiseCount" praise-state="model.praiseState"
                       attention-count="model.attentionCount"
                       attention-state="model.attentionState"></fc-comment-for-wx>
</div>
<!-- /.modal -->