<div class="h10"></div>
<div class="dashangBox">
    <div class="dashangBt" ng-click="tc_reward()">赏</div>
    <div ng-if="rewardVo.rewardUserNameList.length>0" class="text-main">{{rewardVo.rewardUserNameList}}
        <span ng-if="rewardVo.rewardUserCount >1">...等</span>
        打赏了<span class="text-orange">{{rewardVo.rewardCount}}</span>次
    </div>
    <div class="uer-img-list">
        <span data-ng-repeat="rup in rewardUserPicList | orderBy:'-rewardDate'">
            <fc-user-image-for-wx user-id="rup.userId" user-image="rup.userPicId"></fc-user-image-for-wx>
        </span>

    </div>
</div>
<div class="weui_mask"></div>
<div class="weui_dialog" style="padding:10px 0 25px 0; top:15%;">
    <a href="" class="close-ds" ng-click="close()"><img src="images/m/close.png" width="20"></a>
    <div class="weui_dialog_hd">
        <p>
            <fc-user-image-for-wx user-id="rewardVo.userId" user-image="rewardVo.userPicId"></fc-user-image-for-wx>
        </p>
        <strong class="weui_dialog_title">{{rewardVo.userName}}</strong>
    </div>
    <div class="weui_dialog_bd">
        <p class="fs18">点赞是美意，打赏是鼓励</p>
        <h3 class="fs45 text-c333">&yen; {{rewardVo.rewardValue}}</h3>
        <p><a href="" ng-click="randomAmount()" class="weui_btn_dialog primary">随机金额</a></p>
        <p style="margin-top:30px;">
            <a href="" ng-click="reward()" class="weui_btn weui_btn_orange dashangBt-sure">打赏</a>
        </p>
    </div>
</div>