/** 公共字体样式集 **/
body {
    font-size: 12px;
    color: #000;
    /*background-color: #202020; ??为什么要全局设置这个?*/
    -webkit-user-select: none;
}

font {
    display: flex;
}

/** 加粗 **/
.font-weight {
    font-weight: bold;
}

/** 黑色字体 **/
.font-black1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}

.font-black2 {
    color: rgba(0, 0, 0, 0.7);
}

.font-black3 {
    color: rgba(0, 0, 0, 0.5);
}

.font-black4 {
    font-family: "微软雅黑";
    font-size: 32px;
    color: rgba(0, 0, 0, 0.9);
}

.font-black5 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.font-black6 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

/** 白色字体 **/
.font-white1 {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
}

.font-white2 {
    color: rgba(255, 255, 255, 0.5);
}

.font-white3 {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.font-white4 {
    font-size: 14px;
    color: #fff;
    color: rgba(255, 255, 255, 0.1);
}

/** 蓝色字体 **/
.font-blue1 {
    color: #0091FF;
}

/** 红色字体 **/
.font-red1 {
    font-size: 14px;
    color: #e74c3c;
}

.font-red2 {
    color: #008cee;
}
