.img-card-men {
    background: url(../images/common/icon_usercard_man.png) right bottom no-repeat;
}

.img-card-women {
    background: url(../images/common/icon_usercard_woman.png) right bottom no-repeat;
}

.img-card-men-explore {
    background: url(../images/common/icon_usercard_explore_man.png) center no-repeat;
}

.img-card-women-explore {
    background: url(../images/common/icon_usercard_explore_woman.png) center no-repeat;
}

.img-card-manager {
    background-image: url(../images/common/icon_usercard_manager.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.div-card-user {
    margin-top: 24px;
    height: 112px;
}

.orglabel {
    color: #428bca;
    cursor: pointer;
}

.orglabel:hover {
    cursor: pointer;
    color: #008ecc;
    text-decoration: underline;
}

.img-card-user {
    width: 96px;
    height: 96px;
    margin-top: 8px;
}

.img-card-del {
    width: 24px;
    height: 24px;
    background: url(../images/common/icon_usercard_del.png) no-repeat;
    position: absolute;
    margin-left: 248px;
}

.font-11 {
    font-size: 85%;
    color: #666;
}

.font-11-info {
    font-size: 85%;
    color: #999;
}

.panel-card {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.img-panel-add {
    background-image: url(../images/common/icon_usercard_add_nomal.png);
    background-repeat: no-repeat;
    background-position: center;
}

.img-panel-add:hover {
    background-image: url(../images/common/icon_usercard_add_focus.png);
    background-repeat: no-repeat;
    background-position: center;
}

.group-item-card {
    height: 88px;
    width: 272px;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
    vertical-align: bottom;
    border-radius: 2px;
}

.group-item-card:hover {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, .23), 0 10px 30px rgba(0, 0, 0, .19);
    -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, .23), 0 10px 30px rgba(0, 0, 0, .19);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .23), 0 10px 30px rgba(0, 0, 0, .19);
}

.img-card-colleague {
    background: url(../images/common/icon_usercard_colleague.png) left no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
    margin-left: 4px;
}

.img-card-org {
    background: url(../images/common/icon_usercard_group.png) left no-repeat;
    padding-left: 20px;
    margin-left: 4px;
}

.img-card-plane {
    background: url(../images/common/icon_usercard_phone.png) left no-repeat;
    padding-left: 20px;
    margin-left: 4px;
}

.img-card-cellphone {
    background: url(../images/common/icon_usercard_tel.png) left no-repeat;
    padding-left: 20px;
    margin-left: 4px;
}

.img-card-mail {
    background: url(../images/common/icon_usercard_mail.png) left no-repeat;
    padding-left: 20px;
    margin-left: 4px;
}

.img-card-label {
    background: url(../images/common/icon_usercard_label.png) left no-repeat;
    padding-left: 20px;
    margin-left: 4px;
}

.group-header-title {
    height: 68px;
    line-height: 68px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    left: 2px;
    bottom: 0;
}

.group-header {
    height: 65px;
    line-height: 65px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
    position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    bottom: 0;
}

.group-content {
    /* height: 100%;  */
    /* padding-left: 30px;  */
    /* padding-top: 8px; */
    /* position: relative; */
    overflow: hidden;
}

.address-user-list .group-content-pos {
    position: absolute;
    top: 0;
    right: 0;
    left: 300px;
    bottom: 0;
}

/** 用户弹出框样式 **/
.div-card-info {
    width: 272px;
    text-align: center;
    /* padding: 32px 32px 32px 24px; */
    border-radius: 4px;
    position: absolute;
    background-color: #fff;
    display: none;
    z-index: 9999;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
}

.div-card-info1 {
    padding: 32px 32px 32px 24px;
}

.div-card-info2 {
    padding: 12px 44px;
    background-color: #fff9f6;
    color: #e74d3c;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.group-list {
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .28s cubic-bezier(.4, 0, .2, 1);
    background: #ececec;
    position: relative;
}

/*设置不同屏幕尺寸下的列表容器大小*/
.groupListHeight {
    padding: 32px 0 0 16px;
    margin: 0 auto;
    min-width: 586px;
    -moz-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

@media screen and (min-width: 1024px) {
    .groupListHeight {
        width: 902px; /**2列卡片：286*2+12=584 **/
    }
}

@media screen and (min-width: 1280px) {
    /** 1310 = 1024+ 286 以此类推**/
    .groupListHeight {
        width: 872px; /**3列卡片：286*3+12=870 **/
    }
}

@media screen and (min-width: 1596px) {
    .groupListHeight {
        width: 1164px; /**4列卡片：286*4+12=1156 **/
    }
}

@media screen and (min-width: 1882px) {
    .groupListHeight {
        width: 1444px; /**5列卡片：286*5+12=1442 **/
    }
}
