.contents {
    padding-left: 60px;
}

.home-setting-modal {
    width: 100%;
    margin-left: 0;
    margin-top: 35px;
    z-index: 9999999 !important;
    overflow-x: hidden;
}

.badge-mark {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
    margin-top: -60px;
    margin-left: 28px;
}

.online-mark {
    color: #ddd;
    line-height: 20px !important;
    height: 30px !important;;
}

.online-mark:hover {
    cursor: pointer;
}

.online-mark-down {
    position: relative;
    display: inline-block;
    top: -2px;
}

.setting_index {

}

.setting_panel:hover {
    color: #888;
    cursor: pointer;
}

.setting_panel:active {
    color: #999;
    cursor: pointer;
}

.setting_panel {
    position: fixed;
    bottom: 0px;
    width: 60px;
    height: 50px;
    color: #666;
    font-size: 28px;
    background-color: rgb(32, 32, 32);
}

.clockin_panel:hover {
    color: #888;
    cursor: pointer;
}

.clockin_panel:active {
    color: #999;
    cursor: pointer;
}

.clockin_panel {
    position: fixed;
    bottom: 50px;
    width: 60px;
    height: 50px;
    color: #666;
    font-size: 28px;
}

.win-controller {
    font-size: 0;
    width: 95px;
    height: 37px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
}

.win-controller-block {
    width: 95px;
    height: 37px;
    float: right;
    top: 0px;
    right: 0px;
}

.win-controller .win_min {
    width: 30px;
    height: 37px;
    display: inline-block;
    background-image: url('../images/home/min.png');
}

.win-controller .win_max {
    width: 30px;
    height: 37px;
    display: inline-block;
    background-image: url('../images/home/max.png');
}

.win-controller .win_close {
    width: 35px;
    height: 37px;
    display: inline-block;
    background-image: url('../images/home/close.png');
}

.win-controller .win_res {
    width: 30px;
    height: 37px;
    display: inline-block;
    background-image: url('../images/home/res.png');
}

.win-controller .win_close:hover {
    background-image: url('../images/home/close_sel.png');
    cursor: pointer;
    background-color: rgb(235, 66, 66);
}

.win-controller .win_min:hover {
    background-image: url('../images/home/min_sel.png');
    cursor: pointer;
    background-color: rgb(36, 155, 239);
}

.win-controller .win_max:hover {
    background-image: url('../images/home/max_sel.png');
    cursor: pointer;
    background-color: rgb(36, 155, 239);
}

.win-controller .win_res:hover {
    background-image: url('../images/home/res_sel.png');
    cursor: pointer;
    background-color: rgb(36, 155, 239);
}

.menubar {
    text-align: center;
    /*border-right: 1px solid #e7e7e7;*/
    background-color: #202020;
    width: 60px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    -webkit-box-shadow: 4px 0px 10px rgba(84, 12, 5, 0.1);
    -moz-box-shadow: 4px 0px 10px rgba(84, 12, 5, 0.1);
    box-shadow: 4px 0px 10px rgba(84, 12, 5, 0.1);
}

.home-head {
    width: 60px;
    border-right: 1px solid #202020;
}

.home-head > table {
    width: 100%;
    height: 60px;
    background-color: #202020;
}

.home-head > table td:nth-child(1) {
    width: 76px;
}

.home-head > table td:nth-child(2) {
    padding-left: 8px;
}

.home-head > table img {
    width: 40px;
    height: 40px;
}

.home-head > div {
    height: 32px;
    line-height: 32px;
    background-color: #202020;
    clear: both;
}

.home-head a {
    outline: none;
    text-decoration: none;
}

.home-head a:hover,
.home-head a:focus {
    color: #fff;
    filter: alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.caretRight {
    border-left: 4px solid;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0);
    display: inline-block;
    height: 0;
    margin-left: 2px;
    margin-top: 0px;
    vertical-align: middle;
    width: 0;
}

.tips {
    display: none;
    z-index: 99999;
    position: fixed;
    width: 100%;
    margin: auto;
    text-align: center;
    top: -1px;
}

.tips .tips-body {
    display: inline-block;
    background: #FFE4B5;
    border-radius: 3px;
    border: 1px solid #CD853F;
    padding: 5px 50px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.nav {
    text-align: left;
}

.nav-first a {
    outline: none;
    padding: 10px 15px !important;
}

.menu-item {
    height: 60px;
    padding: 8px 16px;
    color: rgba(0, 0, 0, 0.9);
}

.menu-second > li > a {
    padding: 8px 4px;
    padding-left: 72px;
    font-size: 12px;
    color: #ffffff;
}

.menu-sidebar {
    float: right;
}

.loginUserName {
    font-size: 18px;
    color: #ffffff;
    font-family: 'SimHei';
}

.loginUserLevel {
    font-size: 15px;
    color: #f1f8f9;
}

.menu-item:hover,
.menu-item:focus,
.first-menu-li-hover {
    color: #3f3f3f;
    font-weight: bold;
    background-color: rgba(32, 32, 32, 1) !important;
}

.menu-second > li > a:hover {
    background-color: #df653f;
    color: red;
}

.second-menu-li-hover {
    background-color: #3f3f3f !important;
}

/**控制悬浮时图标切换**/
.menuIcon {
    height: 40px;
    width: 40px;
    margin-left: -5px;
    background-repeat: no-repeat;
}

.focusIcon,
.menu-item:hover .normalIcon,
.first-menu-li-hover .normalIcon {
    display: none;
}

.menu-item:hover .focusIcon,
.first-menu-li-hover .focusIcon {
    display: block;
}

.menu-mark {
    display: inline-block;
    background-color: #3f3f3f;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 20px;
    left: 98px;
}

.home-ad-div{
    display:block;
    max-width:1000px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .2);
    border: 0 solid #ccc;
}

.home-ad-btn {
    height: 49px;
    width: 130px;
    cursor: pointer;
    padding: 24px;
}

.home-ad-pre-btn {
    background-image: url('.././images/ad/pre_btn.png');
}
.home-ad-pre-btn:hover {
    background-image: url('.././images/ad/pre_btn_click.png');
}
.home-ad-pre-btn:active {
    background-image: url('.././images/ad/pre_btn.png');
}


.home-ad-next-btn {
    background-image: url('.././images/ad/next_btn.png');
}
.home-ad-next-btn:hover {
    background-image: url('.././images/ad/next_btn_click.png');
}
.home-ad-next-btn:active {
    background-image: url('.././images/ad/next_btn.png');
}

.home-ad-end-btn {
    background-image: url('.././images/ad/end_btn.png');
}
.home-ad-end-btn:hover {
    background-image: url('.././images/ad/end_btn_click.png');
}
.home-ad-end-btn:active {
    background-image: url('.././images/ad/end_btn.png');
}
.user-head, .user-head-list {
    width:43px;
    height:43px;
    border-radius:50px;
    border: 1px solid #0099e7;
    line-height: 40px;
    font-size: 22px;
    text-indent: 10px;
    color: #0099e7;
    font-family:'Microsoft YaHei';
}

.user-head-list {
    margin-top: -3px;
}

.user-head-comment {
    width:30px;
    height:30px;
    font-size: 18px;
    line-height: 26px;
    text-indent: 5px;
    border-radius:3px;
}

.user-group-head {
    /*width:43px;
    height:43px;*/
    border-radius:3px;
    border: 1px solid #0099e7;
    line-height: 82px;
    font-size: 44px;
    text-indent: 23px;
    color: #0099e7;
    width: 88px;
    height: 88px;
    float:left;
    border-radius:2px;
    font-family:'Microsoft YaHei';
}


.user-card-head {
    /*width:43px;
    height:43px;*/
    border-radius:3px;
    border: 1px solid #0099e7;
    line-height: 74px;
    font-size: 43px;
    text-indent: 23px;
    color: #0099e7;
    width: 88px;
    height: 88px;
    float:left;
    border-radius:2px;
    font-family:'Microsoft YaHei';
    margin-bottom: 8px;
}

.user-panel-head {
    line-height: 103px;
    font-size: 53px;
    text-indent: 3px;
    color: #0099e7;
}

.chat-card {
    background-color: #FFF;
    margin:0 !important;
    padding: 10px;
    border: 0px solid #ccc !important;
}

.route_hide{
    display: none;
}
.route_show{
    display: block;
}

// 最左边菜单栏图标
.focus_spaces {
    background-image: url('../images/home/default/menu_tasks_focus.png');
}
.focus_spaces {
    background-image: url('../images/home/default/menu_tasks_focus.png');
}
.focus_colleague {
    background-image: url('../images/home/default/menu_group_focus.png');
}
.focus_app {
    background-image: url('../images/home/default/menu_icon_app_focus.png');
}
.focus_channels {
    background-image: url('../images/home/default/menu_icon_channel_focus.png');
}
.focus_address {
    background-image: url('../images/home/default/menu_icon_booklist_focus.png');
}
.focus_chat {
    background-image: url('../images/home/default/menu_icon_news_focus.png');
}
.normal_spaces {
    background-image: url('../images/home/default/menu_tasks_normal.png');
}
.normal_colleague {
    background-image: url('../images/home/default/menu_group_normal.png');
}
.normal_app {
    background-image: url('../images/home/default/menu_icon_app_normal.png');
}
.normal_channels {
    background-image: url('../images/home/default/menu_icon_channel_normal.png');
}
.normal_address {
    background-image: url('../images/home/default/menu_icon_booklist_normal.png');
}
.normal_chat {
    background-image: url('../images/home/default/menu_icon_news_normal.png');
}
