@IMPORT url("bootstrap-custom.css");
@IMPORT url("common.css");
@IMPORT url("commonFont.css");
@IMPORT url("address.css");
@IMPORT url("group.css");
@IMPORT url("login.css");
@IMPORT url("home.css");
@IMPORT url("customApp.css");
@IMPORT url("userSetting.css");

.no-select {
    -webkit-user-select:none;
}
/* spin.js */
.loading-spinner-container {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
}
