.cropBackDiv{
    background: #e2e2e2;
    height: 300px;
    line-height: 300px;
    text-align: center;
    width: 400px;
    
}

.picSetting .fileInput{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    font-size: 300px;
    cursor: pointer;
}

.picSetting .picArea{
    padding-left: 26px;
    min-height: 330px;
}

.picSetting .crop-pic-big{
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.picSetting .crop-pic-middle{
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.picSetting .crop-pic-small{
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.picSetting .crop-pic-info{
    font-size: 13px;
    color: #555;
}

.picSetting .crop-pic-preview-td{
    text-align: center;
    padding-left: 25px;
    vertical-align: bottom;
}

.cropBackDiv>img{
    max-width: 400px;
    max-height: 300px;
    vertical-align: middle;
}