<div data-ng-controller="ChannelRecommendController">
    <div class="weui_search_bar" id="search_bar">
        <form class="weui_search_outer">
            <div class="weui_search_inner">
                <i class="weui_icon_search"></i> <input type="text" class="weui_search_input" placeholder="搜索" required ng-change="query()"
                    ng-model="param.keyword">
            </div>
        </form>
    </div>
    <div class="weui_tab">
        <div class="weui_navbar">
            <div ng-class="{0:'weui_navbar_item weui_bar_item_on',1:'weui_navbar_item'}[sortParam]" ng-click="sortByDate()">
                最新开通
            </div>
            <div ng-class="{1:'weui_navbar_item weui_bar_item_on',0:'weui_navbar_item'}[sortParam]" ng-click="sortByAttentionCount()">
                最多关注
            </div>
        </div>
        <div class="weui_tab_bd">
            <div class="weui_cells weui_cells_access weui_cells_top_no" style="margin-top:0px;">
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>资讯号</p>
                    </div>
                </a>
            </div>
            <div class="weui_panel weui_panel_access" style="margin-top:-1px;">
                <div class="weui_panel_bd">
                    <a href="" class="weui_media_box weui_media_appmsg" ng-repeat="model in models">
                        <div class="weui_media_hd" ng-click="goGroupItemList(model)">
                            <img ng-src="{{::baseUrl}}fileUploadController/showPic/{{model.picId}}" width="60" height="60">
                        </div>
                        <div class="weui_media_bd" ng-click="goGroupItemList(model)">
                            <h4 class="weui_media_title">{{model.groupName}}</h4>
                            <p class="weui_media_desc">{{model.description}}</p>
                        </div>
                    </a>

                    <div class="weui_msg" ng-if="models.length==0" style="margin-top:50px;">
                      <div class="weui_icon_area"><img src="../../images/m/no-text.png" width="150"></div>
                      <div class="weui_text_area">
                        <h2 class="weui_msg_title"></h2>
                        <p class="weui_msg_desc">暂时没有内容，去其他地方逛逛</p>
                      </div>
                    </div>
                    
                </div>
                <!--<a class="weui_panel_ft" href="javascript:void(0);">更多咨询号</a>-->
            </div>
            <!-- weui_panel -->
        </div>
    </div>
    <!--
    <nav class="navbar navbar-default navbar-m-top navbar-fixed-top" role="navigation">
        <button class="btn btn-link btn-t-l" onclick="window.history.back()"><i class="fa fa-angle-left"></i></button>
        <h3>你可能感兴趣的</h3>
   
    </nav>
    <div class="container-fluid">
        <div class="panel panel-default panel-m">
            <div class="panel-body search-input-m">
                <i class="fa fa-search"></i><input type="text" placeholder="搜索" required ng-change="query()" ng-model="param.keyword">
                <button
                    ng-click="clearQueryText()" class="btn btn-link btn-xs btnClear"><i class="fa fa-times-circle-o"></i></button>
            </div>
        </div>
        <ul class="list-group list-group-m">
            <li class="list-group-item row" ng-repeat="model in models">
                <a href="">
                    <div class="col-xs-2 col-sm-1">
                        <div class="zxh-img"><img ng-src="{{::baseUrl}}fileUploadController/showPic/{{model.picId}}"></div>
                    </div>
                    <div class="col-xs-7 col-sm-8">
                        <h4><a href="" ng-click="goChannelDetail(model.groupId)">{{model.groupName}}</a> </h4>
                        <p class="text-muted">{{model.description}}</p>
                    </div>
                </a>
                <div class="col-xs-3  col-sm-3">
                    <button class="btn btn-default btn-sm m-top-1" ng-click="subscribeChannel(model.groupId)"><i class="fa fa-heart-o"></i> 关注</button></div>
            </li>
            <li class="list-group-item row" ng-if="models.length==0">
                暂无内容。
            </li>
        </ul>
    </div>-->
</div>