<div class="container-fluid" ng-controller="ChannelAttentionMoreController">
    <div class="publish_book_wrap header-tool">
        <span class="top-btn top-btn-back" onclick="window.history.back()"></span>
        <h3>我关注的资讯号</h3>
        <!-- <span class="top-btn"></span> -->
        <!-- 输入内容后，给 top-btn 这个追加active -->
    </div>
    <div class="weui_panel weui_panel_access" style="margin-top:50px;">
        <div class="weui_panel_bd">

            <a href="" class="weui_media_box weui_media_appmsg" ng-repeat="attention in attentionList">
                <div class="weui_media_hd badge-pos-re" ng-click="goChannelItemList(attention)">
                    <img ng-src="{{::baseUrl}}fileUploadController/showPic/{{attention.picId}}" width="60" height="60">
                    <span ng-if="attention.noReadNum>0 " class="weui-badge">{{attention.noReadNum}}</span>
                </div>
                <div class="weui_media_bd" ng-click="goChannelItemList(attention)">
                    <h4 class="weui_media_title">{{attention.groupName}}
                        <div class="weui_cell_ft pull-right">{{attention.recentItemCreateDate|date:"yyyy-MM-dd hh:mm"}}</div>
                    </h4>
                    <p class="weui_media_desc">{{attention.recentItemTitle}}</p>
                </div>
            </a>
        </div>
    </div>