<div data-ng-controller="ChannelHomeController">
    <!--<a ng-click="goChannelRecommend()" href="javascript:;" class="weui_btn weui_btn_default mr1em">添加新的资讯号</a>-->
    <div class="weui_cells weui_cells_access weui_cells_top_no" style="margin-top:0px;">
        <a class="weui_cell" href="javascript:;" style="padding:14px 15px;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>我管理的资讯号</p>
            </div>
        </a>
    </div>
    <div class="weui_panel weui_panel_access" style="margin-top:-1px;">
        <div class="weui_panel_bd">
            <a href="" class="weui_media_box weui_media_appmsg" ng-repeat="item in manageList">
                <div class="weui_media_hd" ng-click="goChannelItemList(item)">
                    <img ng-src="{{::baseUrl}}fileUploadController/showPic/{{item.picId}}" width="60" height="60">
                </div>
                <div class="weui_media_bd" ng-click="goChannelItemList(item)">
                    <h4 class="weui_media_title"> {{item.groupName}}</h4>
                    <p class="weui_media_desc" style="margin-top: 10px;"><span class="mr20">资讯：<span>{{item.itemTotal}}</span></span><span>关注：<span>{{item.contractUserTotal}}</span></span>
                        <!--<p class="weui_media_desc">{{item.description}}</p>-->
                </div>
            </a>
        </div>
    </div>
    <!-- weui_panel -->
    <div class="weui_cells weui_cells_access weui_cells_top_no">
        <a class="weui_cell" href="javascript:;" style="padding:14px 15px;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>我关注的资讯号</p>
            </div>
            <div class="weui_cell_ft fs14" ng-click="channelAttention()">查看</div>
        </a>
    </div>
    <div class="weui_panel weui_panel_access" style="margin-top:-1px;">
        <div class="weui_panel_bd">
            <a href="" class="weui_media_box weui_media_appmsg" ng-repeat="attention in attentionList">
                <div class="weui_media_hd badge-pos-re" ng-click="goChannelItemList(attention)">
                    <img ng-src="{{::baseUrl}}fileUploadController/showPic/{{attention.picId}}" width="60" height="60">
                    <span ng-if="attention.noReadNum>0 " class="weui-badge">{{attention.noReadNum}}</span>
                </div>
                <div class="weui_media_bd" ng-click="goChannelItemList(attention)">
                    <h4 class="weui_media_title">{{attention.groupName}}
                        <div class="weui_cell_ft pull-right">{{attention.recentItemCreateDate|date:"yyyy-MM-dd hh:mm"}}</div>
                    </h4>
                    <p class="weui_media_desc">{{attention.recentItemTitle}}</p>
                </div>
            </a>
            <a href="javascript:void(0);" class="weui_panel_ft" ng-click="goChannelAttentionMore()">查看更多</a>
        </div>
    </div>
    <!--推荐资讯号-->
    <div class="weui_cells weui_cells_access weui_cells_top_no">
        <a class="weui_cell" href="javascript:;" style="padding:14px 15px;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>推荐资讯号</p>
            </div>
            <!-- <div class="weui_cell_ft fs14"></div> -->
        </a>
    </div>
    <div class="weui_panel weui_panel_access" style="margin-top:-1px;">
        <div class="weui_panel_bd">
            <a href="m-information-detail.html" class="weui_media_box weui_media_appmsg" ng-repeat="c in channelRecommends">
                <div class="weui_media_hd">
                    <img ng-src="{{::baseUrl}}fileUploadController/showPic/{{c.picId}}" width="60" height="60">
                </div>
                <div class="weui_media_bd" ng-click="goChannelItemList(c)">
                    <h4 class="weui_media_title">{{c.groupName}}</h4>
                    <p class="weui_media_desc" style="margin-top: 10px;"><span class="mr20">资讯：<span>{{c.itemTotal}}</span></span><span>关注：<span>{{c.contractUserTotal}}</span></span>
                    </p>
                </div>
            </a>
            <a ng-if="isRecommend" style="margin-left: 20px;"> 暂无内容</a>
        </div>
        <a href="javascript:void(0);" class="weui_panel_ft" ng-click="goChannelRecommend()">查看更多</a>
    </div>
</div>