<!-- 没有2级菜单时 追加 contentBox-2 -->
<div class="contentBox"  data-ng-controller="ChannelMainController">
    <div class="second-sideLeft fancy-scrollbar" adaptive-height>
        <!--<div class="searchBox"><i class="fa fa-search"></i><input type="text" placeholder="搜索"></div>-->
        <ul class="ul-logo clearfix" style="margin-top: 50px;">
            <li class="text-center"><button class="btn btn-default btn-kt" ui-sref=".openChannel"><i class="fa fa-plus"></i> 申请开通资讯号</button></li>
        </ul>
        <div data-ng-hide="manageList.length==0" class="title-tz" data-ng-click="upOrDown(0)">
            <span class="head-img myInfor" ></span>我管理的资讯号<i class="fa" data-ng-class="{'fa-angle-up':up0,'fa-angle-down':!up0}" title="收起"></i>
        </div>
        <ul data-ng-if="manageList.length>0" class="ul-logo clearfix" data-ng-style="ngstyle0" id="manageList">
            <li ng-repeat="item in manageList" id="{{item.groupId}}" data-ng-click="setActive(item.groupId)" ui-sref=".channelManage({channelId:item.groupId,channelName:item.groupName,manage:true,pageName:null})">
                <a href="" title="{{item.groupName}}">
                    <span class="head-img2"><img ng-src="{{::baseUrl}}fileUploadController/showPic/{{item.picId}}" ></span>
                    {{item.groupName}}
                </a>
            </li>
        </ul>
        <div data-ng-hide="attentionList.length==0" class="title-tz mt15" data-ng-click="upOrDown(1)">
            <span class="head-img focusOn"></span>我关注的资讯号<i class="fa" data-ng-class="{'fa-angle-up':up1,'fa-angle-down':!up1}" title="收起"></i></div>
        <ul data-ng-if="attentionList.length>0" class="ul-logo clearfix"  data-ng-style="ngstyle1" id="attentionList">
            <li ng-repeat="item in attentionList" id="{{item.groupId+'a'}}" data-ng-click="setActive(item.groupId+'a')" ui-sref=".channelManage({channelId:item.groupId,channelName:item.groupName,manage:false,pageName:'attention'})">
                <a href="" title="{{item.groupName}}">
                    <span class="head-img2"><img ng-src="{{::baseUrl}}fileUploadController/showPic/{{item.picId}}" ></span>
                    {{item.groupName}}
                </a>
            </li>
        </ul>
        <a href=""  data-ng-click="setActive(item.groupId)"  ui-sref=".channelRecommend"><div class="title-tz mt15"><span class="head-img smile"></span>我感兴趣的资讯号</div></a>
         <!--<a href=""  ui-sref="discover"><div class="title-tz mt15"><span class="head-img smile"></span>感兴趣的(移动)</div></a>-->
    </div>
    <!-- second-sideLeft -->
    <div class="contentRight">
        <div ui-view></div>
    </div>
    <!-- contentRight -->
</div>

