
<div ui-view></div>
<!--引导 -->
<div class="navCir">
  <li ng-class="{'active':stateIsFirst('home.homePage')}" ><a href="" ng-click="goHomePage()"><i class="am-icon-home "></i>首页</a></li>
  <li ng-class="{'active':stateIsFirst('home.productList')}"><a href="" ng-click="goTo('home.productList')"><i class="am-icon-list"></i>产品</a></li>
  <li ng-class="{'active':stateIsFirst('home.carList')}"><a href="" ng-click="goCarList()"><i class="am-icon-shopping-basket"></i>购物车</a></li>
  <li ng-class="{'active':stateIsFirst('home.customerHome')}"><a href="" ng-click="goTo('home.customerHome')"><i class="am-icon-user"></i>我的</a></li>
</div>
