<div class="login-bg" ng-controller="LoginController">
    <div class="logo-box"><img src="images/m/logo.png"><h2>九三学社   社员之家</h2></div>

    <div class="login-form" ng-if="loginStep == 3">
        <div class="lg-input-box"><img src="images/m/m-tel.png"><input class="weui_input" type="tel" placeholder="请输入手机号" maxlength="11" ng-model="loginVo.userName"></div>
        <div class="lg-input-box lg-input-box-last"><img src="images/m/m-key.png"><input class="weui_input" type="password" placeholder="请输入密码" ng-model="loginVo.password"></div>
        <a href="javascript:;" class="weui_btn weui_btn_primary" data-ng-click="login()">登录</a>

        <div class="label-box" style="position: inherit; margin-top: 1.5em;padding:0 10px;">
          <a href="javascript:;" data-ng-click="gotoStep(5)">更换手机号</a>
          <a href="javascript:;" data-ng-click="gotoStep(1)">新用户</a>
          <a href="javascript:;" data-ng-click="gotoStep(4)">忘记密码</a>
        </div>


        <!-- <div class="lg-text-line"><a href="javascript:;" data-ng-click="gotoStep(5)">更换手机号</a></div>
        <div class="label-box">
            <label><i class="m-check-lg" ng-class="{'active':loginVo.saveUser}"></i><input type="checkbox" ng-model="loginVo.saveUser">记住我</label>
            <label><i class="m-check-lg" ng-class="{'active':loginVo.autoLogin}"></i><input type="checkbox" ng-model="loginVo.autoLogin">自动登录</label>
            <a href="javascript:;" data-ng-click="gotoStep(4)">忘记密码</a>
        </div> -->
    </div>

    <div class="login-form" ng-if="loginStep === 1">
        <div class="lg-input-box"><img src="images/m/m-tel.png"><input class="weui_input" type="tel" placeholder="请输入手机号" maxlength="11" ng-model="loginInitVo.userName"></div>
        <div class="lg-input-box lg-input-box-last lg-input-box-zym"><img src="images/m/m-key.png"><input class="weui_input" type="tel" placeholder="请输入验证码" ng-model="loginInitVo.verifycode"><button class="btn-zym" ng-disabled="verifycode.disable" ng-click="sendValidateCode()" ng-bind="verifycode.title"></button></div>
        <a href="javascript:;" class="weui_btn weui_btn_primary" data-ng-click="checkValidateCode()">下一步</a>
        <div class="lg-text-line"><a href="javascript:;" data-ng-click="gotoStep(3)">已有账号</a></div>
    </div>

    <div class="login-form" ng-if="loginStep === 2">
        <div class="lg-input-box"><img src="images/m/m-key.png"><input class="weui_input" type="password" placeholder="请输入密码" ng-model="loginInitVo.password"></div>
        <div class="lg-input-box lg-input-box-last"><img src="images/m/m-key.png"><input class="weui_input" type="password" placeholder="请再次输入密码" ng-model="loginInitVo.passwordConfim"></div>
        <!-- <div class="label-box" style="position: inherit; margin-top: 1em;padding-left:20px;">
            <label><i class="m-check-lg" ng-class="{'active':loginVo.saveUser}"></i><input type="checkbox" ng-model="loginVo.saveUser">记住我</label>
            <label><i class="m-check-lg" ng-class="{'active':loginVo.autoLogin}"></i><input type="checkbox" ng-model="loginVo.autoLogin">自动登录</label>
        </div> -->
        <a href="javascript:;" class="weui_btn weui_btn_primary" data-ng-click="initPassword()">登录</a>
    </div>

    <div class="login-form" ng-if="loginStep === 4">
        <div class="lg-input-box"><img src="images/m/m-tel.png"><input class="weui_input" type="tel" placeholder="请输入手机号" maxlength="11" ng-model="resetVo.userName"></div>
        <div class="lg-input-box lg-input-box-zym"><img src="images/m/m-key.png"><input class="weui_input" type="tel" placeholder="请输入验证码" ng-model="resetVo.verifycode"><button class="btn-zym" ng-disabled="verifycode.disable" ng-click="sendValidateCode()" ng-bind="verifycode.title"></button></div>
        <div class="lg-input-box"><img src="images/m/m-key.png"><input class="weui_input" type="password" placeholder="请设置密码" ng-model="resetVo.password"></div>
        <div class="lg-input-box lg-input-box-last"><img src="images/m/m-key.png"><input class="weui_input" type="password" placeholder="请再次输入密码" ng-model="resetVo.confimPassword"></div>
        <!-- <div class="label-box" style="position: inherit; margin-top: 1em;padding-left:20px;">
            <label><i class="m-check-lg" ng-class="{'active':loginVo.saveUser}"></i><input type="checkbox" ng-model="loginVo.saveUser">记住我</label>
            <label><i class="m-check-lg" ng-class="{'active':loginVo.autoLogin}"></i><input type="checkbox" ng-model="loginVo.autoLogin">自动登录</label>
        </div> -->
        <a href="javascript:;" class="weui_btn weui_btn_primary" data-ng-click="resetPassword()">登录</a>
        <div class="lg-text-line"><a href="javascript:;" data-ng-click="gotoStep(3)">返回登录页</a></div>
    </div>

    <div class="login-form" ng-if="loginStep === 5">
        <div class="lg-input-box"><img src="images/m/m-tel.png"><input class="weui_input" type="tel" placeholder="请输入系统预留手机号" maxlength="11" ng-model="resetVo.userNameOld"></div>
        <div class="lg-input-box lg-input-box-zym"><img src="images/m/m-key.png"><input class="weui_input" type="tel" placeholder="请输入验证码" ng-model="resetVo.verifycode"><button class="btn-zym" ng-disabled="verifycode.disable" ng-click="sendValidateCode()" ng-bind="verifycode.title"></button></div>
        <div class="lg-input-box lg-input-box-last"><img src="images/m/m-tel.png"><input class="weui_input" type="tel" placeholder="请输入新的手机号" maxlength="11" ng-model="resetVo.userNameNew"></div>
        <p class="p-text">如果您预留的手机号不可用，请联系市委专责更换。</p>
        <a href="javascript:;" class="weui_btn weui_btn_primary" data-ng-click="resetPhone()">确定</a>
        <div class="lg-text-line"><a href="javascript:;" data-ng-click="gotoStep(3)">返回登录页</a></div>
    </div>
</div>