<div ng-controller="MyselfController">
<div class="header-tool">
    <div fc-notice></div>
    <h3>我的</h3>
    <span class="top-btn" style="width: 22px;"><a href="javascript:;"><img src="images/m/home_setting.png" alt=""></a></span>
    <!-- 输入内容后，给 top-btn 这个追加active -->
</div>
<div class="my_home full-bg">
    <div class="weui_panel weui_panel_access my_home_top">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_appmsg noClick" ng-click="goto('user')">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb user-img" ng-if="currentUser.userPicId" data-ng-src="{{::baseUrl}}fileUploadController/showPic/{{ currentUser.userPicId }}" style="width:100%;height:100%;">
                    <img class="weui_media_appmsg_thumb user-img" ng-if="!currentUser.userPicId" data-ng-src="{{::baseUrl}}userimage/{{ currentUser.userId }}" style="width:100%;height:100%;">
                </div>
                <div class="weui_media_bd text-left">
                    <h4 class="weui_media_title">{{currentUser.userName}}</h4>
                    <div class="weui_media_desc" style="color: #fff">
                        <div class="my_home_msg"><span>{{currentUser.userOrgs}}</span><a href="javascript:;" ng-click="goto('user')">个人资料</a></div>
                        <b>{{currentUser.currentIntegral}}</b>
                        <p>积分</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-row weui-no-gutter ">
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('attention')">
                <p><img src="images/m/home_1.png" alt=""></p>
                <p>关注</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('appCollectList')">
                <p><img src="images/m/home_2.png" alt=""></p>
                <p>参政议政</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('myTaskList')">
                <p><img src="images/m/home_3.png" alt=""></p>
                <p>社务工作</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('')">
                <p><img src="images/m/home_4.png" alt=""></p>
                <p>我的声音</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('myDoctorTopicList/4')">
                <p><img src="images/m/home_5.png" alt=""></p>
                <p>话题</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('myDoctorTopicList/5')">
                <p><img src="images/m/home_6.png" alt=""></p>
                <p>互助</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('myChannel')">
                <p><img src="images/m/home_7.png" alt=""></p>
                <p>资讯号</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('scholarship')">
                <p><img src="images/m/home_10.png" alt=""></p>
                <p>学术成就</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('userResources')">
                <p><img src="images/m/home_11.png" alt=""></p>
                <p>可提供资源</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('myWallet')">
                <p><img src="images/m/home_12.png" alt=""></p>
                <p>钱包</p>
            </a>
        </div>
        <div class="weui-col-25">
            <a href="javascript:;" ng-click="goto('')">
                <p><img src="images/m/home_13.png" alt=""></p>
                <p>基层声音</p>
            </a>
        </div>
        <div class="weui-col-25">

        </div>

    </div>
</div>
</div>
