<div>
    <div data-ng-controller="TaskController">
        <div data-ng-if="topPic" class="top-img">
            <a href="">
                <img data-ng-click="queryItemById(topCollect)" ng-src="{{topPic}}" >
            </a>
        </div>
<div class="btn-group btn-group-justified btn-group-m">
  <div class="btn-group">
    <button type="button" class="btn btn-default disable" disabled="">我发布的 2</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default disable" ng-click="goMResponsibleTaskList()">我负责的</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default " ng-click="goMyParticipatedTaskList()">我报名的 </button>
  </div>
</div>

        <div data-ng-hide="true" class="panel panel-default panel-m">
            <div class="panel-body select-list">
                <a href="javascript:;" data-ng-click="typeClick()">分类 <i class="fa fa-angle-down"></i></a> | <a href="javascript:;">排序 <i class="fa fa-angle-down"></i></a>

                <a ui-sref=".MCollectList" href="" class="list-group-item current" data-ng-if="typeShow" data-ng-click="typeClick()">参政议政<div class="pull-right">
                    <i class="fa fa-check"></i></div></a>
                <a href="" class="list-group-item" data-ng-if="typeShow" data-ng-click="typeClick()">分类2<div class="pull-right"><i class="fa fa-check"></i></div></a>
                <a href="" class="list-group-item" data-ng-if="typeShow" data-ng-click="typeClick()">分类3<div class="pull-right"><i class="fa fa-check"></i></div></a>
            </div>
        </div>
        <!-- second-sideLeft -->
        
            <div ui-view></div>
        
    </div>
    <nav class="navbar navbar-default navbar-m-bottom navbar-fixed-bottom" role="navigation">
        <ul class="nav">
            <li class="active"><a ng-click="goto('task')"><i class="fa fa-flag-o"></i>任务</a></li>
            <li><a ng-click="goto('communication')"><i class="fa fa-comments-o"></i>交流</a></li>
            <li><a ng-click="goto('discover')"><i class="fa fa-eye"></i>发现</a></li>
            <li ><a ng-click="goto('myself')"><i class="fa fa-heart-o"></i>我</a></li>
        </ul>
    </nav>
</div>
