<div class="articleBg" data-ng-controller="BookViewController">
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_appmsg noClick">
                <div class="weui_media_hd" style="width: 60px;height: 80px;">
                    <img class="weui_media_appmsg_thumb" ng-src="{{::baseUrl}}fileUploadController/showPic/{{Book.goodBookLargePicId}}" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">{{Book.goodBookName}}</h4>
                    <div class="weui-book">
                        <div class="weui-book-l" style="width: 22px;height: 22px;">
                            <fc-user-image-for-wx user-id="Book.createUserId" user-image="Book.createUserPicId"></fc-user-image-for-wx>
                        </div>
                        <div class="weui-book-c">
                            <span>
                                <fc-user-image-for-wx user-id="Book.createUserId" user-name="Book.createUserName" image-type="1"></fc-user-image-for-wx>
                            </span>推荐
                        </div>
                        <div class="weui-book-r">
                            <!--<span class="tips-time">-->
                                <!--<a href="javascript:;" class="ico-btn" ng-class="{'active':Book.userPraiseState}" title="赞"-->
                                   <!--ng-click="likeBook()"><i class="ico ico-up"></i>{{Book.praiseCount}}</a>-->
                            <!--</span>-->
                            <!--<span class="tips-time">-->
                                <!--<img src="images/m/icon-pl.png">{{Book.replyCount}}-->
                            <!--</span>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <article class="weui_article">
        <section>
            <h2 class="title">推荐理由：</h2>
            <section>
                <div data-ng-bind-html="Book.recommendReason"></div>
            </section>
        </section>
    </article>
    <fc-a-reward ng-if="Book.goodBookId && Book.createUserId" context-id="Book.goodBookId" reward-user="Book.createUserId" context-type="7"></fc-a-reward>
    <fc-comment-for-wx ng-if="Book.goodBookId" context-id="Book.goodBookId" context-type="7"
                       context-create-user-id="Book.createUserId" enable-adopt="0"
                       enable-readonly="0" praise-count="Book.praiseCount" praise-state="Book.userPraiseState"></fc-comment-for-wx>





</div>