<div class="pager-top-fixed" data-ng-controller="AppMyTaskListController">
    <div class="header-tool">
        <span class="top-btn top-btn-back"></span>
        <h3>我的社务工作</h3>
        <span class="top-btn"></span>
        <!-- 输入内容后，给 top-btn 这个追加active -->
    </div>
    <div class="my_politics">
        <div class="weui_tab page-ptr-navbar ">
            <div class="publish_book_wrap tab_nav_second">
                <div class="weui_navbar" style="position: relative;">
                    <a href="#tab1" class="weui_navbar_item weui_bar_item_on">
                        我负责的
                    </a>
                    <a href="#tab2" class="weui_navbar_item">
                        我报名的
                    </a>
                    <a href="#tab3" class="weui_navbar_item">
                        已结束的
                    </a>
                </div>
            </div>
            <div class="weui_tab_bd">

                <!-- tab1 -->
                <div id="tab1" class="weui_tab_bd_item weui_tab_bd_item_active">
                    <div class="weui_panel weui_panel_access" data-ng-repeat="wfzdrw in wfzdrwList">
                        <div class="weui_panel_bd">
                            <a href="" data-ng-click="queryItemById(1,wfzdrw.taskId,wfzdrw)" class="weui_media_box weui_media_appmsg">
                                <div class="weui_media_bd">
                                    <h4 class="weui_media_title">{{wfzdrw.taskName}}</h4>
                                    <div class="title-info-cell">
                                        <div class="title-info-cell-fl"></div>
                                        <div class="title-info-cell-fr">
                                            <span class="tips-zf"><i>{{wfzdrw.taskIntegral}}</i> 积分</span>
                                            <span class="tips-time"><img src="images/m/icon-ren.png">{{wfzdrw.enrollCount}}</span>
                                            <span class="tips-time"><img src="images/m/icon-cl.png">{{wfzdrw.materialCount}}</span>
                                            <span ng-if="!wfzdrw.enrollEndState" class="tips-time">还有 {{wfzdrw.enrollEndDay}} 天</span>
                                            <span ng-if="wfzdrw.enrollEndState" class="tips-time tips-time-hot">报名结束</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a ng-if="!wfzdrw.voteState && wfzdrw.clockState == 1 && wfzdrw.taskClockState == 0" class="weui_btn weui_btn_default fs16" href="" ng-click="startClock(wfzdrw)" style="line-height: 2.8;">开启打卡</a>
                            <a ng-if="!wfzdrw.voteState && wfzdrw.clockState == 1 && wfzdrw.taskClockState == 1" class="weui_btn weui_btn_default fs16" href="" ng-click="startClock(wfzdrw)" style="line-height: 2.8;">正在打卡</a>
                            <a ng-if="!wfzdrw.voteState && wfzdrw.clockState == 1 && wfzdrw.taskClockState == 2" class="weui_btn weui_btn_default fs16" href="" ng-click="startClock(wfzdrw)" style="line-height: 2.8;">继续打卡</a>
                        </div>
                    </div>
                </div>
                <!-- tab1 END -->
                <!-- tab2 -->
                <div id="tab2" class="weui_tab_bd_item">
                    <div class="weui_panel weui_panel_access" data-ng-repeat="wbmdrw in wbmdrwList">
                        <div class="weui_panel_bd">
                            <a href="" data-ng-click="queryItemById(3,wbmdrw.taskId,wbmdrw)" class="weui_media_box weui_media_appmsg">
                                <div class="weui_media_bd">
                                    <h4 class="weui_media_title">{{wbmdrw.taskName}}</h4>
                                    <div class="title-info-cell">
                                        <div class="title-info-cell-fl"></div>
                                        <div class="title-info-cell-fr">
                                            <span class="tips-zf"><i>{{wbmdrw.taskIntegral}}</i> 积分</span>
                                            <span class="tips-time"><img src="images/m/icon-ren.png">{{wbmdrw.enrollCount}}</span>
                                            <span ng-if="!wbmdrw.enrollEndState" class="tips-time">还有 {{wbmdrw.enrollEndDay}} 天</span>
                                            <span ng-if="wbmdrw.enrollEndState" class="tips-time tips-time-hot">报名结束</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a ng-if="!wbmdrw.voteState && wbmdrw.clockState ==1 && wbmdrw.taskClockState ==0" class="weui_btn weui_btn_default weui_btn_disabled fs16" href=""  style="line-height: 2.8;">未开启打卡</a>
                            <a ng-if="!wbmdrw.voteState && wbmdrw.clockState ==1 && wbmdrw.taskClockState ==1 && wbmdrw.userClockState ==0" class="weui_btn weui_btn_default fs16" href="" ng-click="rwBmrClock(wbmdrw)" style="line-height: 2.8;">点击打卡</a>
                            <a ng-if="!wbmdrw.voteState && wbmdrw.clockState ==1 && wbmdrw.taskClockState ==1 && wbmdrw.userClockState ==1" class="weui_btn weui_btn_default weui_btn_disabled fs16" href="javascript:void(0);" style="line-height: 2.8;">已打卡</a>
                            <a ng-if="!wbmdrw.voteState && wbmdrw.clockState ==1 && wbmdrw.taskClockState ==2 && wbmdrw.userClockState ==0" class="weui_btn weui_btn_default weui_btn_disabled fs16" href="javascript:void(0);" style="line-height: 2.8;">未打卡</a>
                        </div>
                    </div>
                </div>
                <!-- tab2 END -->
                <!-- tab3 -->
                <div id="tab3" class="weui_tab_bd_item">
                    <div class="weui_panel weui_panel_access" data-ng-repeat="yjsrw in yjsrwList">
                        <div class="weui_panel_bd">
                            <a href="" data-ng-click="queryItemById(1,yjsrw.taskId,yjsrw)" class="weui_media_box weui_media_appmsg">
                                <div class="weui_media_bd">
                                    <h4 class="weui_media_title">{{yjsrw.taskName}}</h4>
                                    <div class="title-info-cell">
                                        <div class="title-info-cell-fl"></div>
                                        <div class="title-info-cell-fr">
                                            <span class="tips-zf"><i>{{yjsrw.taskIntegral}}</i> 积分</span>
                                            <span class="tips-time"><img src="images/m/icon-ren.png">{{yjsrw.enrollCount}}</span>
                                            <span class="tips-time"><img src="images/m/icon-cl.png">{{yjsrw.materialCount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- tab3 END -->
                </div>
            </div>
        </div>
    </div>
</div>