<div data-ng-controller="EndTaskDetailController" class="articleBg">
    <article class="weui_article">
        <h1>{{task.taskName}}</h1>
        <p class="fs12 text-muted" style="margin:0;">
            <span class="mr20">
                <fc-user-image-for-wx user-id="task.createUserId" user-name="task.createUserName"
                                      image-type="1"></fc-user-image-for-wx>
            </span>
            <span>{{task.createDate | date:'yyyy-MM-dd'}}</span>
        </p>
    </article>
    <div class="weui_cells fs14" style="margin-top: 0;">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>报名截止时间</p>
            </div>
            <div class="weui_cell_ft">报名已截止</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>奖励积分</p>
            </div>
            <div class="weui_cell_ft color-warning">{{task.taskIntegral}}积分</div>
        </div>
    </div>
    <!-- weui_cells -->
    <article class="weui_article">
        <section ng-bind-html="task.taskContent">
        </section>
        <h3>附件</h3>
        <p data-ng-if="task.attachment.length>0" ng-repeat="attach in task.attachment">
            <a href="#" ng-click="downLoadAttach(attach.attachId,attach.attachName)">{{attach.attachName}}</a>
        </p>
        <div class="line"></div>
        <h3 data-ng-if="task.directorsName.length>0">负责人（{{task.directorsName.length}}）：</h3>
        <p ng-repeat="director in task.directorsName">{{director}}</p>
        <h3 data-ng-if="task.taskUsersName.length>0">报名（{{task.taskUsersName.length}}）：</h3>
        <p ng-repeat="taskUser in task.taskUsersName">{{taskUser}}</p>
        <div class="line"></div>
        <!-- 问卷 -->
        <div data-ng-if="task.voteState">
            <div data-ng-if="!(task.userVoteState==1)">
                <div class="weui_cells_title">投票（{{task.voteTypeName}}）
                    <div class="pull-right">已投票 <span class="color-primary">{{task.voteFillCount}}</span> 人</div>
                </div>
                <div class="weui_cells weui_cells_radio" style="margin-bottom:50px;background:#f6f6f6;">
                    <label class="weui_cell weui_check_label" data-ng-repeat="option in task.voteItem">
                        <div class="weui_cell_hd" style="padding-right:10px;">
                            <input data-ng-if="task.voteType==0" type="radio" name="{{task.taskId}}" class="weui_check"
                                   id="{{option.itemId}}">
                            <input data-ng-if="task.voteType==1" type="checkbox" name="{{task.taskId}}"
                                   class="weui_check" id="{{option.itemId}}">
                            <span class="weui_icon_checked"></span>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>{{option.itemOptionsName}}</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </label>
                </div>
            </div>
            <!-- 已投票 -->
            <div data-ng-if="task.userVoteState==1">
                <div class="weui_cells_title">投票（{{task.voteTypeName}}）
                    <div class="pull-right">已投票 <span class="color-primary">{{task.voteFillCount}}</span> 人</div>
                </div>
                <div class="weui_cells weui_cells_radio" style="margin-bottom:50px;background:#f6f6f6;">
                    <label class="weui_cell weui_check_label" data-ng-repeat="option in task.voteItem">
                        <div class="weui_cell_hd" style="padding-right:10px;">
                            <input data-ng-if="task.voteType==0" type="radio" name="{{task.taskId}}" class="weui_check"
                                   id="{{option.itemId}}" disabled>
                            <input data-ng-if="task.voteType==1" type="checkbox" name="{{task.taskId}}"
                                   class="weui_check" id="{{option.itemId}}" disabled>
                            <span class="weui_icon_checked"></span>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>{{option.itemOptionsName}}</p>
                        </div>
                        <div class="weui_cell_ft">{{option.votePercentage}}</div>
                    </label>
                </div>
            </div>
        </div>
        <!-- 问卷 -->

        <div class="h20"></div>
        <footer>
            <a ng-if="!task.voteState" href="javascript:;" class="weui_btn weui_btn_disabled weui_btn_default">任务结束</a>
            <a ng-if="task.voteState" href="javascript:;" class="weui_btn weui_btn_disabled weui_btn_default">投票结束</a>
        </footer>
        <fc-a-reward ng-if="task.directorsName.length>0" context-id="task.taskId" reward-user="task.directorsIds"
                     context-type="3"></fc-a-reward>
        <div>
            <a href="" ng-click="taskPraise(task)"
               ng-class="{true:'icon-btn-big active',false:'icon-btn-big'}[task.praiseState]" title="赞">
                <i class="icon icon-zan"></i>{{task.praiseCount}}
            </a>
            <a href="" ng-click="attentionTask(task)"
               ng-class="{true:'icon-btn-big active',false:'icon-btn-big'}[task.attentionState]" title="关注">
                <i class="icon icon-gz"></i>{{task.attentionCount}}
            </a>
        </div>
    </article>
    <fc-comment-for-wx ng-if="task.taskId" context-id="task.taskId" context-type="3"
                       context-create-user-id="task.createUserId" enable-adopt="0"
                       enable-readonly="0" praise-count="task.praiseCount" praise-state="task.praiseState"
                       attention-count="task.attentionCount"
                       attention-state="task.attentionState"></fc-comment-for-wx>

</div>