<div data-ng-controller="mEnrollTaskDetailController" class="articleBg">
    <article class="weui_article">
        <h1>{{task.taskName}}</h1>
        <p class="fs12 text-muted" style="margin:0;">
            <span class="mr20"><a href="" class="color-primary">{{task.taskRangeName}}</a></span>
            <span class="mr10">
                <fc-user-image-for-wx user-id="task.createUserId" user-name="task.createUserName"
                                      image-type="1"></fc-user-image-for-wx>
            </span>
            <span>{{task.createDate | date:'yyyy-MM-dd'}}</span></p>
    </article>
    <div class="weui_cells fs14" style="margin-top: 0;">
        <div data-ng-if="task.voteState" class="weui_cell" data-ng-if="voteState">
            <div class="weui_cell_bd weui_cell_primary">
                <p>投票截止时间</p>
            </div>
            <div data-ng-if="!(task.enrollEndDay<0)" class="weui_cell_ft">{{task.enrollEndDate | date:'yyyy-MM-dd'}}
            </div>
            <div data-ng-if="task.enrollEndDay<0" class="weui_cell_ft">投票已截止</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <nobr>奖励积分</nobr>
                </p>
            </div>
            <div class="weui_cell_ft color-warning">{{task.taskIntegral}}积分</div>
        </div>
        <div data-ng-if="!task.voteState && task.clockState>0" class="weui_cell" href="">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <nobr>打卡情况</nobr>
                </p>
            </div>
            <div data-ng-if="task.clockInfo==0" class="weui_cell_ft">未开始打卡</div>
            <div data-ng-if="task.clockInfo==1" class="weui_cell_ft color-primary">正在打卡</div>
            <div data-ng-if="task.clockInfo==2" class="weui_cell_ft color-success">打卡成功，任务结束后自动获得积分</div>
            <div data-ng-if="task.clockInfo==3" class="weui_cell_ft">打卡结束，联系负责人开放打卡</div>
        </div>
    </div>
    <!-- weui_cells -->

    <article class="weui_article">
        <section>
            <div data-ng-bind-html="task.taskContent"></div>
        </section>
        <h3 data-ng-if="task.attachment.length>0">附件</h3>
        <p ng-repeat="attach in task.attachment">
            <a href="" class="text-muted" ng-click="attachView(attach.attachId,attach.attachName,attach.attachType)">{{attach.attachName}}</a>
        </p>

        <div data-ng-if="task.directorsName.length>0 || (!task.voteState && task.taskUsersName.length>0)"
             class="line"></div>
        <h3 data-ng-if="task.directorsName.length>0">负责人（{{task.directorsName.length}}）</h3>
        <p><span ng-repeat="attach in task.directorsName track by $index"> {{attach}} </span></p>

        <h3 data-ng-if="!task.voteState && task.taskUsersName.length>0">报名（{{task.taskUsersName.length}}）</h3>
        <p data-ng-if="!task.voteState"><span
                ng-repeat="attach in task.taskUsersName track by $index"> {{attach}} </span></p>

        <div data-ng-if="task.voteState || task.selfSubmitMaterialVo.length>0" class="line"></div>
        <h3 data-ng-if="task.selfSubmitMaterialVo.length>0">已上传材料</h3>
        <p ng-repeat="attach in task.selfSubmitMaterialVo">
            <a href="" class="text-muted"
               ng-click="attachView(attach.materialId,attach.materialName,attach.materialType)">{{attach.materialName}}</a>
        </p>

        <!-- 问卷 -->
        <div data-ng-if="task.voteState">
            <div class="weui_cells_title">投票（{{task.voteTypeName}}）
                <div class="pull-right">已投票 <span class="color-primary">{{task.voteFillCount}}</span> 人</div>
            </div>
            <div class="{{task.voteClass}}">
                <label class="weui_cell weui_check_label" data-ng-repeat="option in task.voteItem">
                    <div class="weui_cell_hd" style="padding-right:10px;">
                        <input data-ng-if="task.voteType==0" type="radio" name="{{task.taskId}}" class="weui_check"
                               id="{{option.itemId}}" disabled>
                        <input data-ng-if="task.voteType==1" type="checkbox" name="{{task.taskId}}" class="weui_check"
                               id="{{option.itemId}}" disabled>
                        <span class="weui_icon_checked"></span>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>{{option.itemOptionsName}}</p>
                    </div>
                    <div class="weui_cell_ft">{{option.votePercentage}}</div>
                </label>
            </div>
        </div>
        <!-- 问卷 -->

        <div class="h20"></div>
        <footer>
            <a data-ng-if="!task.voteState && task.clockState==1 && task.taskClockState==0" href=""
               class="weui_btn weui_btn_disabled weui_btn_default">未开始打卡</a>
            <a data-ng-if="!task.voteState && task.clockState==1 && task.taskClockState==1 && task.userClockState==0"
               href="" data-ng-click="punchClock()" class="weui_btn weui_btn_primary">打卡</a>
            <a data-ng-if="!task.voteState && task.clockState==1 && task.userClockState==1" href=""
               class="weui_btn weui_btn_primary" style="background: #04be02;">打卡成功</a>
            <a data-ng-if="!task.voteState && task.clockState==1 && task.taskClockState==2 && task.userClockState==0"
               href="" class="weui_btn weui_btn_disabled weui_btn_default">打卡结束</a>

            <a data-ng-if="task.voteState && !task.userVoteState && task.enrollEndDay>=0" href=""
               class="weui_btn weui_btn_disabled weui_btn_default">您未投票</a>
            <a data-ng-if="task.voteState && task.userVoteState  && task.enrollEndDay>=0" href=""
               class="weui_btn weui_btn_disabled weui_btn_default">您已投票</a>
            <a data-ng-if="task.voteState && task.enrollEndDay<0" href=""
               class="weui_btn weui_btn_disabled weui_btn_default">投票已截止</a>
        </footer>
        <fc-a-reward ng-if="task.directorsName.length>0" context-id="task.taskId" reward-user="task.directorsIds"
                     context-type="3"></fc-a-reward>
        <div>
            <a href="" class={{task.praiseClass}} title="点赞" ng-click="taskPraise()"><i class="icon icon-zan"></i>{{task.praiseCount}}</a>
            <a href="" class={{task.attentionClass}} title="关注" ng-click="taskAttention()"><i class="icon icon-gz"></i>{{task.attentionCount}}</a>
        </div>

    </article>
    <fc-comment-for-wx ng-if="task.taskId" context-id="task.taskId" context-type="3"
                       context-create-user-id="task.createUserId" enable-adopt="0"
                       enable-readonly="0" praise-count="task.praiseCount" praise-state="task.praiseState"
                       attention-count="task.attentionCount"
                       attention-state="task.attentionState"></fc-comment-for-wx>


</div>



