<div data-ng-controller="DrawClockController" class="articleBg">
    <div class="timeAnimation" style="margin-top:30px;">
        <img src="images/m/time-bg.png" class="time-bg">
        <div class="time-sec"></div>
    </div>
    <div class="time-number">
        <b>{{stopwatch.hourText}}</b><b>:</b><b>{{stopwatch.minuteText}}</b><b>:</b><b>{{stopwatch.secondText}}</b>
    </div>
    <p class="color-danger text-center" data-ng-if="error.state">{{error.msg}}</p>
    <a href="javascript:;" class="weui_btn weui_btn_warn weui_btn_disabled" style="width:70%;"
       data-ng-if="isOther">已开启打卡</a>
    <a href="javascript:;" class="weui_btn weui_btn_warn weui_btn_disabled" style="width:70%;"
       data-ng-if="!isOther && loading">等待中...</a>
    <a href="javascript:;" class="weui_btn weui_btn_warn" style="width:70%;background:#eb6100;" data-ng-click="stop()"
       data-ng-if="!isOther && !loading && taskClockState==1">停止打卡</a>
    <a href="javascript:;" class="weui_btn weui_btn_warn" style="width:70%;" data-ng-click="continue()"
       data-ng-if="!isOther && !loading && taskClockState==2">继续打卡</a>
    <a href="javascript:;" class="weui_btn weui_btn_warn" style="width:70%;" data-ng-click="start()"
       data-ng-if="!isOther && !loading && taskClockState==0">开启打卡</a>
    <h5 class="th-h5">签到表</h5>
    <div class="weui_cells daka-table" data-ng-repeat="item in ClockUserList">
        <div class="weui_cell">
            <div class="weui_cell_hd mr10"><span>{{$index+1}}</span></div>
            <div class="weui_cell_bd weui_cell_primary" style="white-space:nowrap;padding-right: 20px;">
                <p>{{item.userName}}</p>
            </div>
            <div class="weui_cell_ft text-left">{{item.userOrgName}}</div>
        </div>
    </div>
</div>