<div data-ng-controller="OperationDetailController" class="articleBg">
    <article class="weui_article" style="padding-bottom:0px;">
        <h1>{{task.activityName}}</h1>
        <p class="fs12 text-muted" style="margin:0;"><span class="mr20"><a href="#" class="color-primary">{{task.createUserName}}</a></span><span>{{task.createDate | date:'yyyy-MM-dd'}}</span>
        </p>
    </article>
    <article class="weui_article" ng-if="task.type!=3">
        <p>
            <img ng-src="{{task.picUrl}}"/>
        </p>
        <div data-ng-bind-html="task.info"></div>
        <div class="line" ng-if="task.tasks.length>0"></div>
        <h3 ng-if="task.tasks.length>0">社务工作链接</h3>
        <div ng-repeat="item in task.tasks">
            <p><a class="text-muted" href="" ng-click="toTask(item)">{{item.taskName}}</a></p>
        </div>

        <div class="line" data-ng-if="task.attachs.length>0"></div>
        <h3 data-ng-if="task.attachs.length>0">附件</h3>
        <div ng-repeat="attach in task.attachs">
            <p><a href="" class="text-muted"
                  ng-click="attachView(attach.attachsId,attach.attachsName,attach.attachsType)">{{attach.attachsName}}</a>
            </p>
        </div>

        <div class="line"></div>
        <div class="h20"></div>
        <div>
            <a href="" class={{task.praiseClass}} title="点赞" ng-click="taskPraise()"><i class="icon icon-zan"></i>{{task.praiseCount}}</a>
            <a href="" class={{task.attentionClass}} title="关注" ng-click="taskAttention()"><i class="icon icon-gz"></i>{{task.attentionCount}}</a>
        </div>
    </article>

    <!--积分换礼活动-->
    <div class="weui_cells fs14" style="margin-top: 0;" ng-if="task.type==3">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>报名截止时间</p>
            </div>
            <div class="weui_cell_ft" ng-if="task.enrollEndDay>0">{{task.endDate | date:'yyyy-MM-dd'}}</div>
            <div class="weui_cell_ft" ng-if="task.enrollEndDay<=0">报名已截止</div>
        </div>

    </div>
    <!-- weui_cells -->
    <div class="weui_cells fs14 weui_cells_access" style="margin-top: -1px;" data-ng-click="toDrawPersonList()"
         ng-if="task.type==3 && showPersonList">
        <a class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>中奖名单</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
    </div>

    <article class="weui_article" ng-if="task.type==3">
        <section>
            <p>
            <div data-ng-bind-html="task.info"></div>
            </p>
        </section>

        <div class="lp-img-box" ng-repeat="gift in task.giftList">
            <img ng-src="{{::baseUrl}}fileUploadController/showPic/{{gift.giftPicId}}">
            <p>{{gift.giftName}}</p>
            <p>兑换积分：<span class="color-warning">{{gift.giftIntegral}}</span></p>
        </div>

        <div class="line"></div>
        <h3>报名（{{task.taskUsersName.length ||0}}）：</h3>
        <p><span ng-repeat="person in task.taskUsersName">{{person}}&nbsp;&nbsp;</span></p>

        <div class="line"></div>

        <div class="h20"></div>
        <footer>
            <a href="javascript:;" class="weui_btn weui_btn_primary" ng-if="task.userDirectorState"
               data-ng-click="clock(0)">{{clockName}}</a>
            <a href="javascript:;" id='show-confirm' class="weui_btn weui_btn_primary"
               data-ng-class="{false:'weui_btn_disabled'}[task.taskClockState==2]"
               ng-if="task.taskClockState==2 && task.userDirectorState && !drawEnd" ng-click="doDraw()">第{{lunciTest}}轮抽奖（共{{drawIndexStr[task.lotteryNumber]}}轮）</a>
            <a href="javascript:;" id='' class="weui_btn weui_btn_disabled weui_btn_default"
               ng-if=" task.userDirectorState && drawEnd ">抽奖完成</a>
            <!-- <a href="javascript:;" id='' class="weui_btn weui_btn_primary">开启打卡</a> -->
            <!-- <a href="javascript:;" id='' class="weui_btn weui_btn_primary">正在打卡…</a> -->

            <a href="javascript:;" class="weui_btn weui_btn_primary"
               ng-if="!task.userDirectorState&&!task.userEnrollState" data-ng-click="signUp()">我要报名</a>
            <a href="javascript:;" class="weui_btn weui_btn_disabled weui_btn_primary"
               ng-if="task.taskClockState==0 && task.userEnrollState">未开始打卡</a>
            <a href="javascript:;" class="weui_btn weui_btn_disabled weui_btn_primary"
               ng-if="task.taskClockState==2 && task.userClockState==0 && task.userEnrollState ">打卡结束</a>
            <a href="javascript:;" class="weui_btn weui_btn_primary" style="background: #04be02;"
               data-ng-click="clock(1)"
               ng-if="task.taskClockState==1 && task.userClockState==0 && task.userEnrollState">打卡</a>
            <a href="javascript:;" class="weui_btn weui_btn_default noClick"
               ng-if="task.taskClockState!=0 && task.userClockState==1 && task.userEnrollState"><i
                    class="weui_icon_success_circle"></i> 打卡成功</a>
        </footer>
        <div class="h60"></div>

        <!--<div>-->
            <!--<a href="" class={{task.praiseClass}} title="点赞" ng-click="taskPraise()"><i class="icon icon-zan"></i>{{task.praiseCount}}</a>-->
            <!--<a href="" class={{task.attentionClass}} title="关注" ng-click="taskAttention()"><i class="icon icon-gz"></i>{{task.attentionCount}}</a>-->
        <!--</div>-->
    </article>
    <!--积分换礼活动-->

    <fc-comment-for-wx ng-if="task.activityId" context-id="task.activityId" context-type="9"
                       context-create-user-id="task.createUserId" enable-adopt="0"
                       enable-readonly="0" praise-count="task.praiseCount" praise-state="task.praiseState"
                       attention-count="task.attentionCount"
                       attention-state="task.attentionState"></fc-comment-for-wx>

</div>


