<div class="articleBg articleBg_reg" data-ng-controller="RedeemGiftController">
    <div class="cy-top"><img src="images/m/cy-1.png"></div>
    <div class="cy-jiangping-box cy-jiangping-boxA" style="display: none;">
        <img data-ng-src="{{giftPicUrl}}">
        <p class="fs22">获得{{giftVo.giftName}}</p>
        <p class="fs18">{{giftVo.giftIntegral}}积分</p>
    </div>

    <div class="cy-jiangping-box cy-jiangping-boxB" style="display: none;">
        <div id="qrcode180"></div>
        <p class="fs18">请联系工作人员扫码，领取您的礼品</p>
    </div>
    <div class="cy-jiangping-box cy-jiangping-boxC" style="display: none;">
        <img data-ng-src="{{giftPicUrl}}">
        <p class="fs22">您已领取{{giftVo.giftName}}</p>
    </div>
    <article class="weui_article cy-jiangping-boxA" style="display: none;">
        <footer>
            <a href="javascript:;" class="weui_btn weui_btn_cy"
               data-ng-class="{'weui_btn_disabled':giftVo.giftIntegral>giftVo.userIntegral}"
               data-ng-click="redeem()">确认兑换</a>
        </footer>
        <p class="text-center" style="color: #fff;" data-ng-if="giftVo.giftIntegral>giftVo.userIntegral">积分不足，无法兑换。</p>
    </article>
</div>