<!--<link href="basic/css/demo.css" rel="stylesheet" type="text/css" />-->

<!--悬浮搜索框-->

<div class="nav white">
  <div class="logo"><img src="images/logo.png" /></div>
  <div class="logoBig">
    <li><img src="images/logobig.png" /></li> 
  </div>

  <div class="search-bar pr">
    <a name="index_none_header_sysc" href="#"></a>
    <form>
      <input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
      <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
    </form>
  </div>
</div>

<div class="clear"></div>

<div class="banner">
  <!--轮播 -->
  <div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
    <ul class="am-slides">
      <li class="banner1">
        <a href="introduction.html"><img src="images/ad1.jpg" /></a>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</div>


    <!--轮播-->

    <script type="text/javascript">
      (function () {
        $('.am-slider').flexslider();
      });
      $(document).ready(function () {
        $("li").hover(function () {
          $(".category-content .category-list li.first .menu-in").css("display", "none");
          $(".category-content .category-list li.first").removeClass("hover");
          $(this).addClass("hover");
          $(this).children("div.menu-in").css("display", "block")
        }, function () {
          $(this).removeClass("hover")
          $(this).children("div.menu-in").css("display", "none")
        });
      })
    </script>