<header>
  <div class="new-header">
    <a href="javascript:pageBack();" class="new-a-back" id="backUrl"><span>返回</span></a>
    <h2>商品列表</h2>
    <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span>京东键</span></a>
  </div>
  <div class="new-jd-tab" style="display:none" id="jdkey">
    <div class="new-tbl-type">
      <a href="../index.html@sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-tbl-cell">
        <span class="icon">首页</span>
        <p style="color:#6e6e6e;">首页</p>
      </a>
      <a href="../category/all.html@sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-tbl-cell">
        <span class="icon2">分类搜索</span>
        <p style="color:#6e6e6e;">分类搜索</p>
      </a>
      <a href="javascript:void(0)" id="html5_cart" class="new-tbl-cell">
        <span class="icon3">购物车</span>
        <p style="color:#6e6e6e;">购物车</p>
      </a>
      <a href="../user/home.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-tbl-cell">
        <span class="icon4">我的京东</span>
        <p style="color:#6e6e6e;">我的京东</p>
      </a>
    </div>
  </div>
</header>
<input type="hidden" id="page" value="1" />
<input type="hidden" id="module" value="2" />

<div class="new-ct">
  <div class="new-search new-goods-lst">
    <div class="new-goods-tab">
      <span class="tit">玩具城<a href="" class="link-acition">产品列表</a></span>
      <div class="new-goods-btn">
        <a id="m2" href="1.html" class="new-g-tbn">列表图</a>
        <a id="m1" href="2.html" class="new-g-tbn2">列表</a>
        <a id="m3" href="3.html" class="new-g-tbn3">放大</a>
      </div>
    </div>

    <ul class="new-mu_l2w">
      <li class="new-mu_l2" ng-repeat="product in productList">
        <a href="" class="new-mu_l2a" ng-click="goDetail(product.Id)">
          <span class="new-mu_tmb"><img ng-src="{{baseImgServer}}{{product.ImageUrl}}"   width="100" height="100"  alt=""/></span>
          <span class="new-mu_l2cw">
                  <strong class="new-mu_l2h">{{product.Name}} {{product.Size}}</strong>
                    <span class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2">{{product.Introduction}}</span></span>
          <span class="new-mu_l2c new-p-re"><strong class="new-txt-rd2">&yen;{{product.Price}}</strong>
						<span class="new-txt-price" style="color:red">
    												</span>
          </span>
          </span>
        </a>
      </li>

    </ul>
  </div>
</div>


<div class="new-paging">
  <div class="new-tbl-type">
    <div class="new-tbl-cell">
      <span class="new-a-prve"><span>上一页</span></span>
    </div>
    <div class="new-tbl-cell new-p-re">
      <div class="new-a-page">
        <span class="new-open">1/5</span>
      </div>
      <select class="new-select" onChange="window.location.href=this.value">
                                 </select>
    </div>
    <div class="new-tbl-cell">
      <a class="new-a-next"><span>下一页</span></a>
    </div>
  </div>
</div>
</div>
