<div class="content" ng-controller="ProductAMController">
    <div>
        <table class="admin-table" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="td1"><em class="red">*</em>商品分类</td>
                <td>
                    <select class="form-control" style="width: 320px">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品编号</td>
                <td>
                    <div class="form-control" style="width: 320px;" disabled>{{productDetail.ProductNo}}</div>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品名称</td>
                <td>
                    <input type="text" ng-model="productDetail.Name" maxlength="100"
                           class="form-control" placeholder="最多不超过20字符" style="width: 320px; display: inline-block;"/>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品尺寸</td>
                <td>
                    <input type="text" ng-model="productDetail.Size" maxlength="100"
                           class="form-control" placeholder="最多不超过20字符" style="width: 320px; display: inline-block;"/>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品颜色</td>
                <td>
                    <input type="text" ng-model="productDetail.Color" maxlength="100"
                           class="form-control" placeholder="最多不超过20字符" style="width: 320px; display: inline-block;"/>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品简介</td>
                <td>
                    <textarea class="form-control" ng-model="productDetail.Introduction" rows="3"
                              style="resize: none; width: 320px"></textarea>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>正文</td>
                <td>
                    <div style="width: 800px;">
                        <div class="form-control summernote" id="summernote_sp"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>正文</td>
                <td>
                    <div ng-bind-html="productDetail.Content"></div>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品有效日期</td>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control form_datetime" data-date-format="yyyy-mm-dd" placeholder=""/>
                        <span class="input-group-addon" id="basic-addon2">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td1"></td>
                <td>
                    <button data-ng-click="save()" class="vs-bt bt-primary mr20">发布</button>
                    <button data-ng-click="cancel()" class="vs-bt bt-default">取消</button>
                </td>
            </tr>
        </table>
    </div>
    <section>
        <div>
            <form ng-submit="submit_form()">
                <div>
                    <div class="col-sm-6 col-md-6">
                        <div class="panel panel-default">
                            <p class="panel-heading">封面图片</p>
                            <div class="panel-body gallery" ng-repeat="item in thumb">
                                <img ng-src="{{item.imgSrc}}" class="img-polaroid">
                                <div class="clearfix"></div>
                                <a ng-if="item.imgSrc" ng-click="img_del($index)">删除</a>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="item in thumb_default">
                        <!-- 这里之所以写个循环，是为了后期万一需要多个‘加号’框 -->
                        <label>
                            <input type="file" id="one-input" accept="image/*" file-model="images" onchange="angular.element(this).scope().img_upload(this.files)"/>
                        </label>
                    </div>
                </div>
                <p>(*^_^*)请详细描述您的需求，有助于我们快速定位并解决问题，希望我们的产品和服务能得到您的肯定。</p>
                <input type="submit" name="" value="提 交" />
            </form>
        </div>
    </section>
</div>