<div ng-show="showredpack==true" class="loading-show">
    <div class="weui_mask weui_mask_visible"></div>
    <div class="weui_dialog weui-dialog-hb weui_dialog_visible" style="top:15%;">
        <a href="javascript:;" class="close-ds" ng-click="close()"><img src="./images/redpackage/close.png" width="20"></a>
        <div class="weui_dialog_hd">
            <p><img ng-src={{imgUrl}}{{currentRedpack.createdBy.userPicId}} width="70" height="70" class="user-img"></p>
            <strong class="weui_dialog_title" ng-bind="currentRedpack.createdBy.userName"></strong>
            <p class="text-muted fs14 p-yuan" ng-bind="currentRedpack.name"></p>
        </div>
        <div class="weui_dialog_bd weui_dialog_bd_a">
            <p class="fs22">给你发了一个红包</p>
            <p class="fs22">快打开看看吧</p>
            <p class="m-top" ng-click="openRedpack()">
                <a href="javascript:;" class="kai_btn" title="开红包"><img src="./images/redpackage/redpackbtn.png"></a>
            </p>
        </div>
        <div class="weui_dialog_bd weui_dialog_bd_b">
            <h3 class="fs45 text-c333"><span ng-show="currentRedpack.code == 1">&yen; </span><span ng-bind="currentRedpack.result"></span></h3>
            <p class="fs18">已存入零钱，可直接使用</p>
            <p class="fs18" ng-click="seeMore()">看看大家的手气></p>
        </div>
        <div class="hb-bg"></div>
    </div>
</div>
