<!--<div class="articleBg" data-ng-controller="newDoctorTopicController">
<div class="weui_cells_title">{{typeName}}</div>
<div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" ng-model="topic.topicTitle" placeholder="请输入标题">
        </div>
      </div>
      <div class="weui_cell" data-ng-if="topic.contextType==4">
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" type="tel" ng-model="topic.integral" onkeyup='this.value=this.value.replace(/[^0-9]\D*$/,"")' placeholder="请输入奖励积分">
        </div>
        <div class="weui_cell_ft" style="font-size: 14px;">
         可用积分：<span class="color-warning">{{maxIntegral}}</span>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <textarea class="weui_textarea" ng-model="topic.topicContent" placeholder="请输入内容" rows="20"></textarea>
        </div>
      </div>

    </div>

<div class="h60"></div>
<footer class="footer-fixed">
  <a href="" id='show-confirm' ng-click="saveTopic()" class="weui_btn weui_btn_primary">确定发布</a>
</footer>

</div>-->


<!--ng-click="goBack()"-->
<div class="pager-top-fixed" data-ng-controller="newDoctorTopicController">
  <div class="header-tool">
    <span class="top-btn top-btn-back"  onclick="window.history.back()"></span>
    <h3>发{{typeName}}</h3>
    <span ng-class="{true: 'top-btn active', false: 'top-btn'}[topic.topicContent.length>0]"
      ng-click="saveTopic()"
      ng-disabled="true">发布</span>
    <!-- 输入内容后，给 top-btn 这个追加active -->
  </div>

  <div class="help_new" style="margin-top: -22px;">

    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" ng-model="topic.topicTitle" placeholder="请输入标题">
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" type="tel" ng-model="topic.integral" onkeyup='this.value=this.value.replace(/[^0-9]\D*$/,"")' placeholder="请输入奖励积分">
        </div>
        <div class="weui_cell_ft" style="font-size: 14px;">
          您当前可用积分：<span class="color-warning">{{maxIntegral}}</span>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <textarea class="weui_textarea" ng-model="topic.topicContent" placeholder="请输入内容" rows="20"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>