<div class="pager-top-fixed" data-ng-controller="NoticeItemController">
    <div class="publish_book_wrap header-tool">
        <span class="top-btn top-btn-back"></span>
        <h3>{{categoryName}}</h3>
        <!-- <span class="top-btn"></span> -->
        <!-- 输入内容后，给 top-btn 这个追加active -->
    </div>
    <div class="notice_list">


        <div class="weui_panel weui_panel_access">
            <div class="weui_panel_bd">
                <div class="weui_media_box weui_media_appmsg" data-ng-repeat="c in noticeList" data-ng-click="goToNoticeDetail(c.url)">
                    <div class="weui_media_hd" >
                        <img class="weui_media_appmsg_thumb" src="../../images/pic_temp/xiaowei.png" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <div class="notice_list_title clearfix">
                            <h4 class="weui_media_title pull-left">{{c.typeName}}</h4>
                            <span class="title_time pull-right">1分钟前</span>
                        </div>

                        <p class="weui_media_desc">{{c.dialogueInfo}}</p>
                    </div>
                </div>
                <!--<div class="weui_media_box weui_media_appmsg">-->
                    <!--<div class="weui_media_hd">-->
                        <!--<img class="weui_media_appmsg_thumb" src="../../images/pic_temp/xiaowei.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="weui_media_bd">-->
                        <!--<div class="weui_cell notice_list_title">-->
                            <!--<div class="weui_cell_bd weui_cell_primary weui_media_title">-->
                                <!--参政议政-->
                            <!--</div>-->
                            <!--<div class="weui_cell_hd"><span class="title_time pull-right">22分钟前</span></div>-->
                        <!--</div>-->
                        <!--<p class="weui_media_desc">您负责的<a href="" class="color-primary">“联合讲坛”报告会</a>参政议政活动今天截止，请尽快提交任务。</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui_media_box weui_media_appmsg">-->
                    <!--<div class="weui_media_hd">-->
                        <!--<img class="weui_media_appmsg_thumb" src="../../images/pic_temp/xiaowei.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="weui_media_bd">-->

                        <!--<div class="weui_cell notice_list_title">-->
                            <!--<div class="weui_cell_bd weui_cell_primary weui_media_title">-->
                                <!--资讯号-->
                            <!--</div>-->
                            <!--<div class="weui_cell_hd"><span class="title_time pull-right">22分钟前</span></div>-->
                        <!--</div>-->

                        <!--<p class="weui_media_desc">您申请的资讯号<a href="" class="color-primary">珠海市第七支社</a>审核通过。</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui_media_box weui_media_appmsg">-->
                    <!--<div class="weui_media_hd">-->
                        <!--<img class="weui_media_appmsg_thumb" src="../../images/pic_temp/xiaowei.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="weui_media_bd">-->
                        <!--<div class="weui_cell notice_list_title">-->
                            <!--<div class="weui_cell_bd weui_cell_primary weui_media_title">-->
                                <!--参政议政-->
                            <!--</div>-->
                            <!--<div class="weui_cell_hd"><span class="title_time pull-right">22分钟前</span></div>-->
                        <!--</div>-->
                        <!--<p class="weui_media_desc">您报名的<a href="" class="color-primary">“百家讲坛”报告会</a>参政议政活动结束，感谢参与！</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui_media_box weui_media_appmsg">-->
                    <!--<div class="weui_media_hd">-->
                        <!--<img class="weui_media_appmsg_thumb" src="../../images/pic_temp/xiaowei.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="weui_media_bd">-->
                        <!--<div class="weui_cell notice_list_title">-->
                            <!--<div class="weui_cell_bd weui_cell_primary weui_media_title">-->
                                <!--社务工作-->
                            <!--</div>-->
                            <!--<div class="weui_cell_hd"><span class="title_time pull-right">20分钟前</span></div>-->
                        <!--</div>-->
                        <!--<p class="weui_media_desc">您负责的<a href="" class="color-primary">关爱流浪动物义工活动</a>社务工作结束，辛苦了。</p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

        </div>

    </div>
</div>